.MMPV_TH {
    border: solid #888 1px; 
    text-align: center;
    font-weight: normal;
    font-size: smaller;
}

.MMPV_TD {
    border: solid #888 1px; 
    text-align: center;
    width: 100px;
    height: 80px;
    position: relative;
}

.chargingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.discharging {
    display: none;
}

.storageImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.spotPrice {
	position: absolute;
	font-size: small;
	text-align: center;
	left: 0%;
	width: 100%;
	top: 70%;
}

.percentage {
    font-size: xx-small;
    position: relative;
    width: 100%;
    text-align: left;
}

.storagePower {
    font-size: small;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55%;
}

.teslaCharge {
	font-size: small;
	font-weight: bold;
	position: absolute;
	text-align: center;
	top: 55%;
	left: 0%;
	width: 100%;
}

.lasterror {
		font-size: xx-small;
		color: red;
}

.on {
    display: table-cell;
}
.off {
    display: none;
}

.overlayBelow {
    z-index: 1000;
    position: absolute;
    top: calc(100% - 28px); /* 28 px = 1/2 overlay image height */
    left: calc(50% - 28px); /* 28 px = 1/2 overlay image width */
}


.overlayRight {
    z-index: 1000;
    position: absolute;
    left: calc(100% - 28px);
    top: calc(50% - 28px);
}

.overlayLeft {
    z-index: 1000;
    position: absolute;
    left: -28px;
    top: calc(50% - 28px);
}

.chargeAbove {
    z-index: 1000;
    position: absolute;
    top: -16px;
    left: 0%;
}

.error {
    font-size: small;
    color: red;
}

.summary {
    font-size: small;
    line-height: 1.5em;
    color: #666;
}

.diagram {
    height: 150px;
}